{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}
{% set title = 'Profil' %}

{% block title %}
	Profil
{% endblock %}

{% block body %}
	<p class="titleProfile text-center fs-1 fw-bold mt-5">Profil</p>
	<div class="profilePage m-0 col-lg-5 mx-auto">
		<div class="profile card m-3 mb-5 mt-5 " style="max-width: 100%;">
			<div class="row">
				<div class="col-4 mx-auto">
					{% if app.user.profileImageName %}
						<img src="{{ asset('uploads/userImages/' ~ app.user.profileImageName) }}" class="profileImg img-fluid m-3" alt="{{ app.user.lastName }} {{ app.user.firstName }}"/>
					{% else %}
						<img src="{{ asset('build/images/profil.png') }}" class="profileImg img-fluid  m-3" alt="{{ app.user.lastName }} {{ app.user.firstName }}">
					{% endif %}
				</div>
				<div class="col-8">
					<div class="card-body">
						<p class="titleProfile card-text fs-1 fw-bold m-0">{{ app.user.firstName }}
							{{ app.user.lastName }}</p>
						<p class="titleProfile card-text fs-5 fw-bold m-0">{{ app.user.email }}</p>
						<a class="block fs-5" href="{{ path('app_edit')}}">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil text-light" viewbox="0 0 16 16">
								<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
							</svg>
							<small class="text-light">  Modifier</small>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="progressBar m-3">
				<div class="col text-center mt-3">
					<p class="progressBar-text text-centre fs-1">Progression globale
					{% if lessons|length > 0 %}
						<span class="percentage">{{ ((app.user.lessons|length) / lessons|length * 100)|round }}%</span>
					</p>
						<div class="progress-circle mx-auto pt-5 mb-5">
							<svg viewbox="0 0 36 36">
								<path class="bg-path" d="M 18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
								<path class="bar-path" style="stroke-dasharray: {{ (app.user.lessons|length) / lessons|length * 100|round }}, 100" d="M 18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
							</svg>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
