{% extends 'layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}
{% set title = 'Profil' %}

{% block title %}
	Profil
{% endblock %}

{% block body %}

	<p class="titleProfile text-center fs-1 fw-bold mt-5">Profil</p>
	<section class="profilesection">
		<div class="profile card m-3 mt-5" style="max-width: 100%;">
			<div class="row g-0">
				<div class="col">
					{% if app.user.profileImageName %}
						<img src="{{ asset('uploads/userImages/' ~ app.user.profileImageName) }}" class="profileImg img-fluid rounded ms-4 mt-4" alt="{{ app.user.lastName }} {{ app.user.firstName }}"/>
					{% else %}
						<img src="{{ asset('build/images/profil.png') }}" class="profileImg img-fluid rounded ms-4 mt-4" alt="{{ app.user.lastName }} {{ app.user.firstName }}">
					{% endif %}
				</div>
				<div class="col">
					<div class="card-body">
						<h5 class="titleProfile card-title mt-3">Bonjour</h5>
						<p class="titleProfile card-text fs-1 fw-bold">{{ app.user.firstName }}!</p>
						<a class="block fs-5 text-primary" role="button" href="{{ path('app_edit')}}">
							<small class="text-muted">Modifier</small>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="progressBar card m-3 mt-5" style="max-width: 100%;">
			<div class="row g-0">
				{# <div class="col mt-5">

					<div class="circle-wrap">
						<div class="circle">
							<div class="mask full">
								<div class="fill"></div>
							</div>
							<div class="mask half">
								<div class="fill"></div>
							</div>
							<div class="inside-circle">
								{{ (app.user.lessons|filter(lesson => lesson.tutorial == tutorial)|length) }}
								sur
								{{ tutorial.lessons|length }}%
							</div>
						</div>
					</div>
				</div> #}
				<div class="col">
					<div class="card-body">
						<div class="">
							<p class="card-text">Tutorial title !</p>
							<div
								class="progress">
								{# <p class="titleProfile card-text fs-3">{{ app.tutoriel.title }}!</p> #}
								<div class="progress-bar bg-success" style="width: 70%">70%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
