{% extends 'layoutAdmin.html.twig' %}

{% block header %}
	{% include 'components/_headerAdmin.html.twig' %}
{% endblock %}


{% block title %}Admin - Quiz{% endblock %}

{% block content %}
	<div class="container text-start">
		<div class="col justify-content-start">
			<h1 class="d-flex justify-content-center mb-4">Tutoriel : {{ lesson.tutorial.title }}</h1>
			<h1 class="d-flex justify-content-center fs-2 mb-4">Leçon : {{ lesson.title }}</h1>
			<h1 class="d-flex justify-content-start fs-2">Questions</h1>
			<section class="d-flex justify-content-start">
				<table class="table overflow-auto">
					<thead>
						<tr>
							<th scope="col">Titre</th>
							<th scope="col">Administrer</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{% for question in questions %}
							<tr>
								<td>{{ question.questiontext }}</td>
								<td>
									<a class="btn btn-outline-primary mt-1 me-2" href="{{ path('app_admin_tutorial_lesson_quiz_edit', {'tutorial': tutorial.id, 'lesson': lesson.id }) }}" role="button">Éditer</a>
									{{ include('admin_question/_delete_form.html.twig') }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Aucune question trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>

			<a class="btn btn-primary mt-2" href="{{ path('app_admin_tutorial_lesson_quiz_new', {'tutorial': tutorial.id, 'lesson': lesson.id }) }}" role="button">Créer une nouvelle question</a>
		</div>
	</div>
{% endblock %}
