{% extends 'layoutAdmin.html.twig' %}

{% block header %}
	{% include 'components/_headerAdmin.html.twig' %}
{% endblock %}


{% block title %}Admin - Quiz{% endblock %}

{% block content %}
	<div class="container text-start">
	<a href="{{ path('app_admin_tutorial_lesson_show', {'id': lesson.tutorial.id }) }}" class="btn btn-outline-primary mt-2 mb-4" role="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 me-2 bi bi-arrow-left" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
				</svg>Retour aux leçons</a>
		<div class="col justify-content-start">
			<h1 class="d-flex justify-content-center mb-4">Tutoriel :
				{{ lesson.tutorial.title }}</h1>
			<h1 class="d-flex justify-content-center fs-2 mb-4 text-primary">Leçon :
				{{ lesson.title }}</h1>
			<div class="d-flex justify-content-between mb-4">
				<h1 class="d-flex justify-content-start fs-2 text-primary">Questions</h1>
				<a class="btn btn-primary mt-2 me-3" href="{{ path('app_admin_tutorial_lesson_quiz_new', {'tutorial': tutorial.id, 'lesson': lesson.id }) }}" role="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="mb-1 me-1 bi bi-plus" viewbox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
					</svg>Créer une nouvelle question</a>
			</div>
			<section class="d-flex justify-content-start">
				<table class="table overflow-auto">
					<thead>
						<tr>
							<th scope="col">Titre</th>
							<th scope="col">Administrer</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{% for question in questions %}
							<tr>
								<td>{{ question.questiontext }}</td>
								<td class="d-flex">
									<a class="btn btn-outline-primary mt-1 me-2 p-2" href="{{ path('app_admin_tutorial_lesson_quiz_edit', {'tutorial': tutorial.id, 'lesson': lesson.id }) }}" role="button">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 me-2 bi bi-pencil-square" viewbox="0 0 16 16">
											<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
											<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
										</svg>Éditer</a>
									{{ include('admin_question/_delete_form.html.twig') }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Aucune question trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		</div>
	</div>
{% endblock %}
