{% extends 'base.html.twig' %}
{% set title = 'Registration' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('registration') }}
{% endblock %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="block-registration">
			<p class="registration-title text-center fs-1 text-secondary my-3 fw-bold">Créez votre compte !</p>
			<div class="mx-3">
				<div class="text-center">
					<h2 class="text-secondary fs-5">Pourquoi créer un compte ?</h2>
					<p class="fs-6 text-light">Un compte
						<span class="fw-bold">Blue Line</span>
						vous permettra d'accedez aux différents tutoriels.</p>
				</div>
				<div class="text-center">
					<h2 class="text-secondary fs-5">Avez-vous une adresse mail ?</h2>
					<p class="fs-6 text-light p-0 m-0">Si oui : passez à l'étape suivante

					</p>
					<p class="mail-registration fs-6 p-0 m-0 text-light">Si non : créez une adresse mail
					</p>
				</div>
			</div>
			{{ form_start(registrationForm) }}
			<div class="col">
				<div class="registration-form bg-light mx-4 mx-lg-auto mb-3 col-lg-4">
					<h3 class="text-center mt-4 mb-4 pt-3 fs-5">Remplissez les champs</h3>

					<div class="my-3 col-10 m-auto fs-6">
						{{ form_row(registrationForm.lastName, { 'attr': {'class': 'registration-input'} }) }}
					</div>
					<div class="my-3 col-10 m-auto fs-6">
						{{ form_row(registrationForm.firstName, { 'attr': {'class': 'registration-input'} }) }}
					</div>
					<div class="my-3 col-10 m-auto fs-6">
						{{ form_row(registrationForm.email, { 'attr': {'class': 'registration-input'} }) }}
					</div>
					<div class="my-3 col-10 m-auto fs-6">
						{{ form_row(registrationForm.plainPassword, { 'attr': {'class': 'registration-input'} }) }}
					</div>
					<div class="my-3 col-10 m-auto d-flex justify-content-center">
						<button type="submit" class="btn btn-primary col-10 my-3 fs-6 p-1">Valider</button>
					</div>
				</div>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
