{% extends 'layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profil') }}
{% endblock %}
{% set title = 'Profil' %}

{% block title %}
	Profil
{% endblock %}

{% block body %}
	<p class="titleProfil text-center fs-1 fw-bold mt-5">Profil</p>
	<div class="profil card m-3 mt-5" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col">
				<img src="{{ asset('build/images/profil.png') }}" class="profilImg img-fluid rounded-start ms-4 mt-4" alt="Profil photo">
			</div>
			<div class="col">
				<div class="card-body">
					<h5 class="titleProfil card-title mt-3">Bonjour</h5>
					<p class="titleProfil card-text fs-1 fw-bold">{{ app.user.firstName }}!</p>
					<p class="titleProfil card-text">
						<small class="text-muted">{{ app.user.email }}!</small>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
