{% extends 'layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profil') }}
{% endblock %}
{% set title = 'Profil' %}

{% block title %}
	Profil
{% endblock %}

{% block body %}
	<div class="profil card mb-3 ms-3 me-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="..." class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<p class="titleProfil card-title fs-1 fw-bold mt-1">Bonjour,</p>
					{# <p class="titleProfil fs-1 fw-bold">{{ app.user.firstName }}!</p>
					<p class="titleProfil fs-1 fw-bold">{{ app.user.email }}!</p> #}
				</div>
			</div>
		</div>
	</div>

    <div class="progress card mb-3 ms-3 me-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="..." class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<p class="titleProfil card-title fs-1 fw-bold mt-1">Bonjour,</p>
					{# <p class="titleProfil fs-1 fw-bold">{{ app.user.firstName }}!</p>
					<p class="titleProfil fs-1 fw-bold">{{ app.user.email }}!</p> #}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
