{% extends 'layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('lesson') }}
{% endblock %}
{% set title = 'Tutoriel' %}


{% block title %}Tutoriel
{% endblock %}

{% block body %}
	<p class="titleTuto fs-1 fw-bold">Tutoriels</p>
	<div class="wordMain">
		<h2>Bonjour,</h2>
		<h2 class="userName">{{ app.user.firstName }}!</h2>
	</div>
	<div class="bodyContainer container-fluid">
		<div class="cards-container col-13">
			{% for tutorial in tutorials %}
				<div class="alignCard card justify-content-center col-6 col-lg-4 text-center">
					<div class="mt-2">
						<a class="lesson" href="{{ path('lesson_index', {id: tutorial.id}) }}">
							<h2 class="descript fs-4 mx-1">{{ tutorial.title }}</h2>
						</a>
						<p class="lessonNb fs-6 text-primary">
							{{ tutorial.lessons|length }}
							Leçon(s)</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
