{% extends 'base.html.twig' %}
{% set title = 'Login' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

	<div class="loginbody container-fluid">
		<p class="title text-center text-secondary mt-5 fs-1 fw-bold">Connectez-vous !</p>
		{% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<div class="login bg-light mx-4 mx-lg-auto col-lg-4">
			<form class="d-flex flex-column" action="{{ path('app_login') }}" method="post">
				<div class="my-3 col-10 m-auto">
					<label for="username" class="form-label fw-bold fs-5 ms-1">Adresse e-mail</label>
					<input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}">
				</div>
				<div class="my-3 col-10 m-auto">
					<label for="password" class="form-label fw-bold fs-5 ms-1">Mot de passe</label>
					<input type="password" class="form-control" id="password" name="_password">
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<input type="hidden" name="_target_path" value="{{ path('tutorial_index') }}">
				<button type="submit" class="btn btn-primary w-75 m-auto mb-5 mt-4 fw-bold fs-5">Se connecter</button>
			</form>
			<div class="text-center mb-3">
				<div class="my-2 fw-normal fs-5">Vous n'avez pas de compte ?</div>
				<a class="btn btn-outline-primary mt-2 mb-5 w-75 fw-bold fs-5" href="{{ path('app_register')}}">S'inscrire</a>
			</div>
		</div>
	</div>
	{% block footer %}{% endblock %}
{% endblock %}
