{% extends 'layoutAdmin.html.twig' %}

{% block header %}
	{% include 'components/_headerAdmin.html.twig' %}
{% endblock %}


{% block title %}{% endblock %}

{% block content %}
	<div class="container text-start">
		<div class="col justify-content-start">
			<h1 class="d-flex justify-content-start">Leçons</h1>
			<section class="d-flex justify-content-start">
				<table class="table overflow-auto">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Titre</th>
							<th scope="col">Administrer</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{% for lesson in lessons %}
							<tr>
								<td scope="row">{{ lesson.id }}</td>
								<td>{{ lesson.title }}</td>
								<td>
									<a class="btn btn-outline-primary mt-1 me-2" href="{{ path('app_admin_lesson_show', {'id': lesson.id}) }}" role="button">Voir</a>
									<a class="btn btn-outline-primary mt-1 me-2" href="{{ path('app_admin_lesson_edit', {'id': lesson.id}) }}" role="button">Éditer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Aucun tutoriel trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
			
			<a class="btn btn-primary mt-2" href="{{ path('app_admin_lesson_new') }}" role="button">Créer une nouvelle leçon</a>
		</div>
	</div>
{% endblock %}