{% extends 'layoutAdmin.html.twig' %}

{% block title %}Voir leçon
{% endblock %}

{% block content %}

	
	<div class="container text-start">
		<div class="col justify-content-start">
			<div class="row">
				<h1>Leçon : {{ lesson.title }}</h1>
				<table class="table">
					<tbody>
						<tr>
							<th>ID</th>
							<td>{{ lesson.id }}</td>
						</tr>
						<tr>
							<th>Titre</th>
							<td>{{ lesson.title }}</td>
						</tr>
                        <tr>
							<th>Contenu</th>
							<td>{{ lesson.description }}</td>
						</tr>
                        <tr>
							<th>URL de la vidéo</th>
							<td>{{ lesson.video }}</td>
						</tr>
						<tr>
							<th>Tutoriel</th>
							<td>{{ lesson.tutorial.title }}</td>
						</tr>
					</tbody>
				</table>
				<div class="gap 3">
					<a href="{{ path('app_admin_lesson_index') }}" class="btn btn-outline-primary me-1" role="button">Retour aux leçons</a>

					<a href="{{ path('app_admin_lesson_edit', {'id': lesson.id}) }}" class="btn btn-outline-primary" tabindex="-1" role="button">Éditer</a>
				</div>

				{{ include('admin_lesson/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}