{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('quiz') }}
{% endblock %}

{% set title = 'Exercice'  %}
{% set return_path = path('tutorial_show', {id: tutorial.id}) %}

{% block title %} {{lesson.title}}
{% endblock %}

{% block body %}
	<div class="quizbody container">
		<div class="row">
			<p class="title text-center text-secondary fs-1 fw-bold">{{ lesson.title }}</p>
			<p class="mt-3 text-light">{{ lesson.description|nl2br  }}</p>
			<div class="text-center my-3">
				<iframe width="315" height="250" src="{{lesson.video}}"></iframe>
			</div>
		</div>
		<div class="container mt-3 mb-5">
			{% include 'components/_quiz.html.twig' %}
		</div>
	</div>
{% endblock %}
