<div{{attributes}}>
	{{form_start(form)}}
     <div class="row">
            <div class="col-4">
                {{ form_row(form.questionText, {
                    label: 'Question',
                    attr: {
                        placeholder: 'Entrez votre question'
                    }
                }) }}
            </div>
        </div>

	<table class="table table-borderless form-no-mb">
		<thead>
			<tr>
				<td>Réponse</td>
				<td class="ms-1">Correct ?</td>
			</tr>
		</thead>
		<tbody>
			{% for key, responseForm in form.responses %}
				<tr>
					<td>
						{{ form_row(responseForm.answer, {
                                label: false,
                                attr: {
                                    placeholder: 'Entrez une réponse de votre choix'
                                }
                            }) }}
					</td>

					<td>
						{{ form_row(responseForm.isCorrect, {
                                row_attr: {class: ''},
                                label: false,
                            }) }}
					</td>
					<td>
						{{ form_row(responseForm.vars.button_delete, { label: 'X', attr: { class: 'btn btn-outline-danger' } }) }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{{ form_widget(form.responses.vars.button_add, { label: '+ Ajouter réponse', attr: { class: 'btn btn-outline-primary' } }) }}

	<button type="submit" class="btn btn-success" formnovalidate>Sauvegarder</button>
	{{ form_end(form) }}
</div>

{# <div{{attributes}}>
{{form_start(form)}}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
 #}