<div{{attributes}}>
	{{form_start(form)}}
	<div class="row">
		<div class="col-4">
			{{ form_row(form.questionText, {
                    label: 'Question',
                    attr: {
                        placeholder: 'Entrez votre question'
                    }
                }) }}
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-start ms-2">
			{% for key, responseForm in form.responses %}
				<div class="col-4 my-3">
					<p>Réponse</p>
				{{ form_row(responseForm.answer, {label: false, attr: { placeholder: 'Entrez une réponse de votre choix'}}) }}
				</div>
				<div class="col-4 d-flex flex-column justify-content-center align-items-center">
					<p class="mt-2 me-4">Correct ?</p>
					<span class="p-0 form-check form-switch">{{ form_row(responseForm.isCorrect, {row_attr: {class: ''}, label: false, }) }}</span>
				</div>
				<div class="deleteButton col-3">
					{{ form_row(responseForm.vars.button_delete, { label: 'X', attr: { class: 'btn btn-outline-danger' } }) }}
				</div>
			{% endfor %}
		</div>
		<div class="d-flex mt-2 gap-4">
			{{ form_widget(form.responses.vars.button_add, { label: '+ Ajouter réponse', attr: { class: 'btn btn-outline-primary' } }) }}
			<button type="submit" class="btn btn-success" formnovalidate>Sauvegarder</button>
			{{ form_end(form) }}
		</div>
	</div>
