{% block body %}
	<h1 class="text-center my-3">Quiz</h1>
	{% if quizzDone == true %}
		<h2 class="text-center">Félicitation, le quizz est déjà validé !!</h2>
		<p>
		{% else %}
			{{ form_start(form) }}
			<div class="container item">
				<div class="row">
					{% for questionForm in form.questions %}
						<div class="question rounded-top bg-primary">
							<h3 class="text-center">{{questionForm.vars.data.questionText}}</h3>
						</div>
						<div class="answer rounded-bottom bg-white p-3 mb-4">
							{% for responseForm in questionForm.response %}
								<p>{{ form_widget(responseForm) }}
									{{ form_label(responseForm )}}</p>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
			<button class="btn btn-primary">Valider</button>
			{{ form_end(form) }}
	{% endif %}
{% endblock %}
