{% block stylesheets %}
	{{ encore_entry_link_tags('quiz') }}
{% endblock %}


{% block body %}
	{% if quizzDone == true %}
		<h2 class="text-center">Bravo !</h2>
		<h2 class="text-center">Vous avez validé le quiz !</h2>
		<div class="mt-3 d-flex justify-content-center align-items-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check2-circle text-success" viewbox="0 0 16 16">
				<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
				<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
			</svg>
		</div>
	{% else %}
		<p class="quiztitle text-center my-4 fs-2">Quiz</p>
		{{ form_start(form) }}
		<div class="container item">
			<div class="row">
				{% for questionForm in form.questions %}
					<div class="question rounded bg-primary">
						<h3 class="text-center text-light p-3">{{questionForm.vars.data.questionText}}</h3>
					</div>
					<div class="answer rounded bg-white p-3 mb-4">
						{% for responseForm in questionForm.response %}
						<div class="response my-3">
							<p class="choice mx-3">{{ form_widget(responseForm) }}
								{{ form_label(responseForm)}}</p>
								</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
		<button class="validate btn btn-lg btn-primary col-6 col-lg-3 ms-1 mb-5">VALIDER</button>
		{{ form_end(form) }}
	{% endif %}
{% endblock %}
